/*
Author: Saifur Rahman Chowdjury
E-mail: saifu25saif@gmail.com
Contact: +880-1816-120934
Website: http://saif-rahman.com
*/

/* for mobile responsiveness */
@media (max-width: 767px) {
    
}

/* for tab responsiveness */
@media (max-width: 1200px) and (min-width: 767px) {

}

/* for desktop responsiveness */
@media (min-width: 1200px){
    
}


/* slider part start */
/* top bar start */
.slider_wrapper{
    background-color: #474D54;
    padding-top: 60px;
    padding-bottom: 50px;
    height: 500px;
}
.slider_wrapper>.row>.container>.menu{
    color: white;
    padding-top: 50px;
    padding-left: 100px;
    font-size: 16px;
    font-family: 'Open Ssans',sans-serif;
    font-weight: 700;
    border: 5px white;
}
.slider_wrapper>.row>.container>.logo>img{
    width: 140px;
    padding-left: 20px;
}
/* top bar end */
/* slider part start */
.slider_content> h1{
    color: white;
    font-family: 'Open Ssans',sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 50px;
}    
.slider_content> h1> span{
    color: #F5600F;
}
.slider_content> p{
    color: #D3DFED;
    font-family: 'Open Ssans',sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.slider_content> .btn_one{
    margin-top: 30px;
    font-family: 'Open Ssans',sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: #F5600F;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    border: 1px solid #ffa336;
    margin-right: 20px;
}
.slider_content> .btn_one:hover{
    background: #cc5200;
    border: 1px solid #ff944d;
}
.slider_content> .btn_two{
    margin-top: 30px;
    font-family: 'Open Ssans',sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: #474D54;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    border: 1px solid #f1f2f6;
}
.slider_content> .btn_two:hover{
    background: #363c44;
    border: 1px solid black;
}
.indicator> img{
    width: 20px;
    margin-top: 50px;
    transition: all 1.5s;
}
.indicator> img:hover{
    width: 20px;
    margin-top: 50px;
    transform: rotate(360deg);
}
/* slider part end */
.design_wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
}
.design_wrapper> .row> .design> .design_content> img{
    width: 100px;
}
.design_wrapper> .row> .design> .design_content{
    opacity: 0.8;
    transition: all 1.2s;
}
.design_wrapper> .row> .design> .design_content:hover{
    opacity: 1;
    transform: scale(1.1);
}
.design_wrapper> .row> .design> .design_content> h1{
    font-family: 'Open Ssans',sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding-top: 15px;
}
.design_wrapper> .row> .design> .design_content> p{
    font-family: 'Open Ssans',sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
}
/* our work part start */
.our_work_wrapper{
    margin-top: 61px;
}
.our_work_wrapper> .row> .our_work> .work_content> .heading> h1{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.our_work_wrapper> .row> .our_work> .work_content> .heading> h1> span{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #F5600F;
}
.our_work_wrapper> .row> .our_work> .work_content> .heading> p{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    white-space: pre-line;
    color: #6C6963;
    margin-bottom: 60px;
}
.our_work_wrapper> .row> .our_work> .work_content> .row_1{
    margin-left: 43px;
}
.our_work_wrapper> .row> .our_work> .work_content> .row_2{
    margin-left: 43px;
    margin-bottom: 66px;
}
.our_work_wrapper> .row> .our_work> .work_content> .row_1> .pixz_all_opacity> .thumbnail> img{
    opacity: 0.8;
    transition: all 1s;
}
.our_work_wrapper> .row> .our_work> .work_content> .row_1> .pixz_all_opacity> .thumbnail> img:hover{
    opacity: 1;
    transform: scale(0.95);
}
.our_work_wrapper> .row> .our_work> .work_content> .row_2> .pixz_all_opacity> .thumbnail> img{
    opacity: 0.8;
    transition: all 1s;
}
.our_work_wrapper> .row> .our_work> .work_content> .row_2> .pixz_all_opacity> .thumbnail> img:hover{
    opacity: 1;
    transform: scale(1.05);
}
.our_work_wrapper> .row> .our_work> p> .btn_four{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #454952;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 38px;
    padding-right: 38px;
    border-radius: 8px;
    border: 1px solid #454952;
}
.our_work_wrapper> .row> .our_work> p> .btn_four:hover{
    text-decoration: none;
    background: #363C44;
    border: 1px solid black;
    color: white;
}
/* our work part end */
